<div class="column has-text-centered is-paddingless is-marginless is-one-third-widescreen is-one-third-desktop is-one-fifth-fullhd is-one-third-tablet is-two-fifths-mobile is-three-quarters-touch"
id="project-card">
<a href="{{post.url | absolute_url}}">
<div class="has-background-grey card">
  <figure class="image is-16by9" style="background-image: url({{post.post-image}});">
  </figure>
  <div class="card-content">
    <h1 class="title has-text-white is-size-6">{{post.title}}</h1>
  </div>
</div>
</a>
</div>